$dark-bg: #201E1A;

p {
    text-align: justify;
};

.book-summary ul.summary li.header {
    padding-top: 40px;
};

.book.color-theme-2 .book-body {
    background: $dark-bg;
};

.book.color-theme-2 .book-body .page-wrapper .page-inner section {
    background: transparent;
}

.book.color-theme-2 .book-summary {
    background: #ff0000;
}