$dark-bg: #201E1A;
$layer-color: lighten($dark-bg, 4%);
$divider-color: black;
$white: #FFFFFF;

$text-color: rgba($white, 0.6);
$header-color: rgba($white, 0.7);
$accent-color: #B4812C;

p {
    text-align: justify;
};

.book-summary ul.summary li.header {
    padding-top: 40px;
};

.book.font-family-1 {
    font-family: Quicksand, "Helvetica Neue", Helvetica, Arial, sans-serif;
};


.book.color-theme-2 {
    .book-body {
        background: $dark-bg;
    };
    
    .book-body .page-wrapper .page-inner section {
        background: transparent;
    };
    
    .book-summary {
        background: $dark-bg; // lighten($dark-bg,4%);
    };
    
    .book-body .page-wrapper .page-inner section.normal {
        color: $text-color;
        h1, h2, h3, h4, h5 {
            color: $header-color;
        }
    }
    
    .book-summary {
        border-right: 2px solid $divider-color;
    }
    
    // top bar
    .book-header .btn { 
        color: rgba($white, 0.2);
        &:hover { 
            color: rgba($white, 0.4);
        }
        h1 {
            opacity: 1;
            color: #ff0000;
        }
    }
    
    
    // drop-downs
    .dropdown-menu {
        border: 0;
        background-color: $layer-color; 
    }
    
    // links
    .book-body .page-wrapper .page-inner section.normal a {
        color: $accent-color;
    }
    
    // comments
    .book .book-body .page-wrapper .page-inner .comments-section .comments-icon .marker {
        background: $layer-color;
        color: $text-color;
    
    // info, warning, error cards
    .markdown-section blockquote {
        padding: 15px;
        border: 0;
        border-radius: 15px;
        background: #345e6f !important;
        color: $text-color !important;
    }
}